.textareaContainer {
    width: 100%;
    height: 100%;
}

.textarea {
    resize: vertical;
    color: white;
    background-color: rgba(44, 149, 236, 0.15);
    width: 97%;
    height: 300px;
    padding: 10px;
    border: 0;
    border-radius: 18px 0px 18px 18px;
}

.textareaTitle {
    width: 100px;
    background-color: rgba(44, 151, 236, 0.6);
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-family: Gill, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding: 0 5%; */
}

.actionsContainer {
    display: grid;
    grid-template-columns: auto auto;
    /* justify-content: space-evenly; */
    margin-top: -40px;
    border-radius: 18px 0 18px 0;
    box-shadow: rgb(44, 151, 236) -1px -1px 5px 0px;
    width: 90px;
    height: 30px;
}

.actionsContainer > * {
    width: 100%;
    height: 100%;
}

.copyIcon {
    border-radius: 0 0 18px 0;
}
.copyIcon > * {
    margin-left: -3px;
}

.pasteIcon {
    border-radius: 18px 0 0 0;
}
.pasteIcon > * {
    margin-right: -3px;
}
