@font-face {
  font-family: Peshang;
  src: url(./Peshang_Des_2.ttf);
  weight: 400
}
@font-face {
  font-family: Gill;
  src: url(./GillSansDisplayMTPro.otf);
  weight: 400
}

* {
  direction: rtl;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Peshang, Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #191919;
  color: white;
  background: url(/peakpx.jpg) center top;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  backdrop-filter: blur(5px);
}
