.main {
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: center;
  padding: 6rem;
  min-height: 80vh;
  padding: 0 16% 0 16%;
  grid-template-columns: auto auto;
}

.title {
  font-family: 'Peshang des 2', Calibri, 'Trebuchet MS', sans-serif;
  grid-column: 1 / span 2;
}

.title > span {
  font-family: 'Gill Sans Display MT Pro', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2c97ec;
}
